<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>D Survey Guru - Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../font/iconsmind-s/css/iconsminds.css"/>
    <link rel="stylesheet" href="../font/simple-line-icons/css/simple-line-icons.css"/>

    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/vendor/fullcalendar.min.css"/>
    <link rel="stylesheet" href="../css/vendor/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="../css/vendor/datatables.responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" href="../css/vendor/select2.min.css"/>
    <link rel="stylesheet" href="../css/vendor/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="../css/vendor/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/vendor/bootstrap-stars.css"/>
    <link rel="stylesheet" href="../css/vendor/nouislider.min.css"/>
    <link rel="stylesheet" href="../css/vendor/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/dore.light.blue.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>

<body id="app-container" class="menu-sub-hidden show-spinner">
<nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
        <a href="#" class="menu-button d-none d-md-block">
            <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                <rect x="0.48" y="0.5" width="7" height="1"/>
                <rect x="0.48" y="7.5" width="7" height="1"/>
                <rect x="0.48" y="15.5" width="7" height="1"/>
            </svg>
            <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                <rect x="1.56" y="0.5" width="16" height="1"/>
                <rect x="1.56" y="7.5" width="16" height="1"/>
                <rect x="1.56" y="15.5" width="16" height="1"/>
            </svg>
        </a>

        <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                <rect x="0.5" y="0.5" width="25" height="1"/>
                <rect x="0.5" y="7.5" width="25" height="1"/>
                <rect x="0.5" y="15.5" width="25" height="1"/>
            </svg>
        </a>

    </div>


    <a class="navbar-logo" href="/backend">
        D SURVEY GURU
    </a>

    <div class="navbar-right">
        <div class="header-icons d-inline-block align-middle">
            <div class="position-relative d-none d-sm-inline-block">
                <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="simple-icon-grid"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-equalizer d-block"></i>
                        <span>Settings</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-bar-chart-4 d-block"></i>
                        <span>Profits</span>
                    </a>

                    <a href="#" class="icon-menu-item">
                        <i class="iconsminds-file d-block"></i>
                        <span>Surveys</span>
                    </a>


                </div>
            </div>

            <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                <i class="simple-icon-size-fullscreen"></i>
                <i class="simple-icon-size-actual"></i>
            </button>

        </div>

        <div class="user d-inline-block">
            <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="name">Test Company</span>
                <span>
                        <img alt="Profile Picture" src="../img/profile-pic-l.jpg"/>
                    </span>
            </button>

            <div class="dropdown-menu dropdown-menu-right mt-3">
                <a class="dropdown-item" href="#">Account</a>
                <a class="dropdown-item" href="#">History</a>
                <a class="dropdown-item" href="#">Support</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </div>
    </div>
</nav>
<div class="sidebar">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a href="/backend">
                        <i class="iconsminds-shop-4"></i>
                        <span>Dashboards</span>
                    </a>
                </li>
                <li>
                    <a href="/survey">
                        <i class="iconsminds-digital-drawing"></i> Survey
                    </a>
                </li>
                <li class="active">
                    <a href="#Resell">
                        <i class="iconsminds-air-balloon-1"></i> Market
                    </a>
                </li>
                <li>
                    <a href="#System">
                        <i class="iconsminds-three-arrow-fork"></i> System
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sub-menu">
        <div class="scroll">

            <ul class="list-unstyled" data-link="Resell">
                <li>
                    <a href="/market/survey">
                        <i class="simple-icon-picture"></i> Surveys
                    </a>
                </li>
                <li>
                    <a href="/market/orders">
                        <i class="simple-icon-check"></i> Orders
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled" data-link="System">

                <li>
                    <a href="Ui.Tables.html">
                        <i class="simple-icon-grid"></i> Settings
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<main>
    <div class="container-fluid">
        <h1> Survey Data Timeline</h1>
        <div>
        <div class="left-content">
            <p><span class="badge badge-primary mb-1">01:55AM 02 MAY 2019</span><br>Company WI PTY LTD<br> Transaction ID:234ljkjhsdf, 100 token</p>
            <p><span class="badge badge-primary mb-1">10:55AM 05 MAY 2019</span><br>Company 2CDSI PTY LTD<br> Transaction ID:234ljkjhsdf, 100 token</p>
            <p><span class="badge badge-primary mb-1">07:23PM 09 MAY 2019</span><br>Company CDE PTY LTD<br> Transaction ID:234ljkjhsdf, 100 token</p>
        </div>
        <div class="right-content">
            <p><span class="badge badge-primary mb-1">08:24AM 01 MAY 2019</span><br>Company DTPC PTY LTD<br> Transaction ID:54ccjkjhsdf, 100 token</p>
            <p><span class="badge badge-primary mb-1">12:45AM 03 MAY 2019</span><br>Company ACI PTY LTD<br> Transaction ID:234ljkjhsdf, 100 token</p>
            <p><span class="badge badge-primary mb-1">09:25PM 08 MAY 2019</span><br>Company DCCC PTY LTD<br> Transaction ID:234ljkjhsdf, 100 token</p>
        </div>
            </div>
    </div>

</main>

<script src="../js/vendor/jquery-3.3.1.min.js"></script>
<script src="../js/vendor/bootstrap.bundle.min.js"></script>
<script src="../js/vendor/Chart.bundle.min.js"></script>
<script src="../js/vendor/chartjs-plugin-datalabels.js"></script>
<script src="../js/vendor/moment.min.js"></script>
<script src="../js/vendor/fullcalendar.min.js"></script>
<script src="../js/vendor/datatables.min.js"></script>
<script src="../js/vendor/perfect-scrollbar.min.js"></script>
<script src="../js/vendor/owl.carousel.min.js"></script>
<script src="../js/vendor/progressbar.min.js"></script>
<script src="../js/vendor/jquery.barrating.min.js"></script>
<script src="../js/vendor/select2.full.js"></script>
<script src="../js/vendor/nouislider.min.js"></script>
<script src="../js/vendor/bootstrap-datepicker.js"></script>
<script src="../js/vendor/Sortable.js"></script>
<script src="../js/vendor/mousetrap.min.js"></script>
<script src="../js/dore.script.js"></script>
<script src="../js/scripts.single.theme.js"></script>
<script src="../js/main.js"></script>
</body>

</html>